{% extends 'base.html' %}
{% block title %}记账簿详情{% endblock %}
{% block preload_js %}
<script tpye="text/javascript">
$(function(){

    $("input[name='remove']").click(function(){
        var ids = "";
        $("input:checked[name='checkItem']").each(function(){
            ids += $(this).val()+",";
        });
        if (ids == "")
        {
            alert("请至少选择一项！");
            return;
        }
        var flag = confirm("您确定要删除这些条目吗?");
        if (flag)
            location.href="/books/" + {{form.id}} + "/deleteItems/?ids="+ids;
    });
}
);
</script>
{% endblock %}
{% block subTitle %}<b><i><um>{{form.name}}</um></i></b>{% endblock %}
{% block content %}
<table class="small">
<tr><td>描述: {{form.description}}</td><td>所属人: {{form.create_by}}</td></tr>
<tr><td>类型: {{form.book_type}}</td><td>相关人员: {%for contactBook in form.contact_book_set.all%}{{contactBook.contact.name}}&nbsp;{%endfor%}</td></tr>
<tr><td>总收入: <font color='green'><b>{{amountIn}}</b></font></td><td>总支出: <font color="red"><b>{{amountOut}}</b></font></td></tr>
<tr><td colspan="2">结余: <font color={%if amount >= 0 %}'green'{%else%}'red'{%endif%}><b>{{amount}}</b></font></td></tr>

</table>

<p></p>
<div><a href="{%url 'addItem' form.id %}" style="margin-right:2%;" data-inline="true" data-role="button">添加条目</a><input name="remove" type="button" value="删除" style="margin-left:2%;" data-inline="true" data-role="button"></div>
<p/>
<table>
    <tr><th><input type="checkbox" name="checkAll" id="checkAll"><label for="checkAll">全选</label></th><th>标题</th><th>金额</th><th>类型</th><th>日期</th><th>涉及人员</th></tr>
    {%for bill in bills%}
    <tr style="{%if bill.amount > 0%} color:green; {%else%} color:red; {%endif%}" title="备注:{{bill.description}}"><td><input type="checkbox" name="checkItem" value="{{bill.id}}" id="{{bill.id}}"><label for="{{bill.id}}">&nbsp;</label></td><td>{{bill.title}}</td><td>{{bill.amount}}</td>{%if bill.amount > 0%}<td>收入</td>{%else%}<td>支出</td>{%endif%}<td>{{bill.date}}</td><td>
    {%for billItem in bill.bill_item_set.all%}
        {%if forloop.counter > 1%},{%endif%}{{billItem.contact.name}}: {{billItem.amount}}
    {%endfor%}
    </td></tr>
    {%endfor%}
</table>


{% endblock %}
