{% extends 'base.html' %}
{% block title %}记账簿详情{% endblock %}

{% block content %}<input name="add" type="button" value="添加">&nbsp;&nbsp;&nbsp;&nbsp;<input name="remove" type="button" value="删除">
<table align="center" border='1'>
<tr><th><input type="checkbox" name="checkAll">全选</th><th>名称</th><th>描述</th><th>日期</th><th>类型</th><th>操作</th></tr>
{%for form in forms%}
<tr><td><input type="checkbox" name="checkItem" value="{{form.id}}"></td><td>{{form.name}}</td><td>{{form.description}}</td><td>{{form.create_date}}</td><td>{{form.book_type}}</td>
<td><a href='{%url "book_detail" form.id %}'>操作</a></td>
</tr>
{%endfor%}
</table>
{% endblock %}
