{% extends 'base.html' %}
{% block title %}添加数据项{% endblock %}
{% block preload_js %}
<script tpye="text/javascript">
$(function(){
    $("#id_amount").change(function(){
        autoPopulateSubAmountInput();
    });
    $("input[name='contact']").click(function(){
        if (!$(this).attr("checked"))
        {
            $("input[name='subCount_" + $(this).val() + "']").val("");
        }
        autoPopulateSubAmountInput();
    });
    
    $("input[name='save']").click(function(){
        return checkForm();
    });
    
    function autoPopulateSubAmountInput() {
        var num = $("input:checked[name='contact']").length;
        var sum = $("#id_amount").val();
        $("input:checked[name='contact']").each(function(index){
            var contantId = $(this).val();
            var subAmount = (sum/num).toFixed(2);
            $("input[name='subCount_" + contantId + "']").val(subAmount);
            sum -= subAmount;
            num --;
        });
    }
    
    function checkForm(){
        if ($.trim($("#id_title").val()) == "")
        {
            alert("请输入名称。");
            return false;
        }
        var sum = $("#id_amount").val();
        if ( $("#id_amount").val() <= 0 ) {
            alert("请输入正确的金额。");
            return false;
        }
        var ids = "";
        $("input:checked[name='contact']").each(function(){
            ids += $(this).val()+",";
            var contantId = $(this).val();
            var subAcount = $("input[name='subCount_" + contantId + "']").val();
            if ( subAcount <= 0 ) {
                alert("请输入正确的相关人员的金额。");
                return false;
            }
            sum -= subAcount;
        });
        if (ids == "")
        {
            alert("请至少选择一项涉及人员！");
            return false;
        }
        if (Math.abs(sum) > 0.01) {
            alert("总金额不等于所选相关人员金额之和。差额:" + sum);
            return false;
        }
        $("input[name='contactIds']").val(ids);
        return true;
    }
}
);
</script>
{% endblock %}
{% block subTitle %}新建记录{% endblock %}

{% block content %}
{% if form.errors %}
    <p style="color:red;"
        Please correct the form
    </p>
{% endif %}
<form  method="post" action="">{% csrf_token %}

    <table>
        {{form.as_table}}
<tr><th><label for="id_contact_0">相关人员:</label></th><td>

<ul data-role="listview">
{%for contact in contacts%}
<li data-role="fieldcontain" class="ui-grid-a">
<div class="ui-block-a" style="width:20%;">
    <input id="id_contact_{{ forloop.counter }}" name="contact" type="checkbox" value="{{contact.id}}"/><label for="id_contact_{{ forloop.counter }}" style="height:9px;">{{contact.name}}</label>
</div>
<div class="ui-block-b"><input type="number" step="0.01" name="subCount_{{contact.id}}" ></div></li>

{%endfor%}
</ul></td></tr>
    </table>
    <input type="submit" name="save" value="添加" data-inline="true">
<input type="hidden" name="contactIds">
</form>


{% endblock %}

