{% extends 'base.html' %}
{% block title %}首页{% endblock %}
{% block navTitle %}首页{% endblock %}
{% block subTitle %}自我介绍{% endblock %}
{% block content %}
<section style="text-align:left;">
&nbsp;&nbsp;&nbsp;&nbsp;记账簿是一款免费的专为普通用户设计，无需任何专业知识就可以轻松上手的在线记账系统。你可以为您的小组（家庭或团队）创建相应的组内记账簿来记载该小组的收支情况，系统会为你自动计算出该记账簿的总收入、总支出和总盈余。您也可以创建AA记账簿来记录每一笔你和你的朋友们需要AA，但先由一人或多人垫付的款项，系统为您自动计算出该记账簿每个成员的资产、负债以供结算。So easy! 现在就开始注册、登录并添加您的联系人和记账簿开始记账吧。
<p/><p/>
&nbsp;&nbsp;&nbsp;&nbsp;<b>推荐: </b>试试用手机浏览器访问我们的网站吧，我们力求给您在电脑和手机上相同的体验。

</section>
{% endblock %}
